body {
    background: url("../img/114923-stormtrooper-white-Star_Wars.jpg") no-repeat;
}

.mainContainer {
    width: 300px;
    height: 260px;
    margin: auto;
    border: #afafaf 1px solid;
    margin-top: 200px;
}

form {
    padding: 50px 60px 50px 60px;
}

input {
    display: block;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 20px;
    outline: none;
    color: black;
}

button {
    display: block;
    margin: auto;
    border: 2px solid #afafaf;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Padauk', sans-serif;
    color: #afafaf;
}

h1 {
    text-align: center;
    color: #afafaf;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.hint:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: #aaa;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #aaa;
    font-family: 'Padauk', sans-serif;
}

a {
    display: block;
    text-align: right;
    color: #aaa;
    font-family: 'Padauk', sans-serif;
    text-decoration: none;
}

input::placeholder {
    font-family: 'Padauk', sans-serif;
    color: #afafaf;
}