h1 {
    margin-top: 50px;
    font-family: 'Padauk', sans-serif;
    text-transform: uppercase;
    color: #aaa;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

main {
    margin: 0px auto;
    width: 800px;
    height: 600px;
}

.photoImg {
    width: 200px;
    height: 200px;
    border: 1px #aaa solid;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 100px;
}

.photo {
    margin: 0px;
    width: 50%;
    height: 480px;
    float: left;
    box-sizing: border-box;
}

.dataForm {
    float: left;
    width: 50%;
    height: 480px;
    box-sizing: border-box;
}

.photoUpload {
    margin: auto;
    margin-left: 50px;
    margin-top: 50px;
}

.photoUpload input {
    position: absolute;
    width: 200px;
    height: 40px;
    transform: scale(1);
    opacity: 0;
    cursor: pointer;
}

.buttonUpload {
    margin-left: 10px;
    border: #e3e3e3 20px solid;
    background: #afafaf;
    width: 150px;
    height: 22px;
    font-family: 'Padauk', sans-serif;
    text-align: center;
    padding-top: 5px;
    color: #e3e3e3;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.dataForm form input:first-child {
    margin-top: 100px;
    border: none;
}

.dataForm form input:nth-child(n+2) {
    border: none;
    margin-top: 30px;
}

.dataForm form input {
    font-family: 'Padauk', sans-serif;
    color: #afafaf;
    font-size: 15px;
}

.dataForm form input::placeholder {
    color: #afafaf;
    font-family: 'Padauk', sans-serif;
    font-size: 15px;
}

hr {
    border-color: #e3e3e3;
}

button {
    background: #afafaf;
    color: #e3e3e3;
    font-family: 'Padauk', sans-serif;
    text-transform: uppercase;
    border: 15px #e3e3e3 solid;
    width: 250px;
    margin: auto;
    cursor: pointer;
    margin-left: 280px;
    margin-top: 10px;
}

.dataForm form input:focus {
    outline: none;
    outline-offset: 0;
}

.hint {
    position: absolute;
    display: none;
    z-index: 1000;
    background: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid red;
    font-family: 'Padauk', sans-serif;
    color: #afafaf;
}

.hint:first-of-type {
    right: 271px;
    top: 170px;
}

.hint:nth-of-type(2) {
    right: 257px;
    top: 243px;
}

.hint:last-of-type {
    right: 112px;
    top: 315px;
}