body {
    background: url("../img/114923-stormtrooper-white-Star_Wars.jpg") no-repeat;
}

.mainContainer {
    width: 300px;
    height: 250px;
    margin: auto;
    border: #ccc 1px solid;
    margin-top: 200px;
}

form {
    padding: 50px 60px 50px 60px;
}

input {
    display: block;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    color: black;
}

button {
    display: block;
    margin: auto;
    border: 2px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    color: #ccc;
    font-size: 16px;
}

.hint:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: #ccc;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

