@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 2vw;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 3vw 0px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #454545;
  text-transform: uppercase;
}

form input {
  display: block;
  margin: 2vw;
  border: 0;
  border-bottom: 0.1em solid #e9e9e9;
  background: transparent;
  text-transform: uppercase;
  outline: none;
  transition: all 0.2s ease;
}

form input:focus {
  box-shadow: 0px 0px 2vw 0px #7bc1f4;
}

form input::placeholder {
  transition: color 0.3s ease;
}

form button, form .upload-image-label {
  padding: 1vw;
  border: 0;
  background-color: #e9e9e9;
  color: #454545;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1vw;
}

form .upload-image-label {
  display: inline-block;
  font-size: 1em;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

input[type="file"] {
  display: none;
}

.wrongValue::placeholder {
  color: #ff0000;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-info, .resume-info {
  width: 15vw;
}

.image-info #image-container {
  width: 7vw;
  height: 7vw;
  margin: auto;
  border-radius: 50%;
  background-color: #ff0000;
  background: url('../images/avatar.png');
  background-position: center center;
  background-size: cover;
}





















































